.SocialMediaLinks {
    margin-top: 40px;
    margin-bottom: 40px;
}

.SocialMediaLinks .divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
}